<% if @holdings_records.empty? %>
  <p class="no-holdings"><i title="Check with the Library" id="icon-holding-available" class="icon-asterisk icon-white"> </i>&nbsp;<%= t('blah.item.holdings.no_holdings_information') %></p>
<% else %>
  <dl class="defList"> 
    <% @holdings_records.sort!{ |x,y| x.availability <=> y.availability }%>
    <% @holdings_records.each_with_index do |holding_record, index| %>
      <% if @holdings_records.first == holding_record %>
        <dt><h4>Location</h4></dt>
      <% else %>
        <dt></dt>
      <% end %>
      <dd>
        <small>
          <% if index > 20 %>
            <i title="More available" id="icon-holding-more" class="icon-plus icon-white"></i> View record to check for more items
            <% break %>
          <% else %>
              <% # Set available to true if availability is 'available' else false... %>
              <%  holding_record.availability.downcase =~ /available/ ? available = true : available = false %>
              <% if available then %>
                <i title="Available" id="icon-holding-available" class="icon-ok icon-white"> </i> &nbsp; 
              <% else %>
                <i title="Not available" id="icon-holding-unavailable" class="icon-remove icon-white"></i>&nbsp; <%= holding_record.availability %> &nbsp; 
              <% end %>
              <% # Display the local location (class number) only if it is available %>
              <%= holding_record.local_location %>&nbsp;<%= "- #{ holding_record.call_number }" if available  %>
          <% end %>
        </small>
      </dd>
    <% end %>
  </dl>
<% end %>
