<% if @holdings_records.empty? %>
  <p class="no-holdings"><i title="Check with the Library" id="icon-holding-available" class="icon-asterisk icon-white"> </i>&nbsp;<%= t('blah.item.holdings.no_holdings_information') %></p>
<% else %>
  <dl class="defList"> 
    <% @holdings_records.sort!{ |x,y| x.availability <=> y.availability }%>
    <% @holdings_records.each_with_index do |holding_record, index| %>
      <% if @holdings_records.first == holding_record %>
        <dt><h4>Location</h4></dt>
      <% else %>
        <dt></dt>
      <% end %>
      <dd>
        <small>
          <% if index > 20 %>
            <i title="More available" id="icon-holding-more" class="icon-plus icon-white"></i> View record to check for more items
            <% break %>
          <% else %> 
              <% if holding_record.availability.downcase =~ /available/ then %>
              <i title="Available" id="icon-holding-available" class="icon-ok icon-white"> </i> &nbsp; 
              <% else %>
                <i title="Not available" id="icon-holding-unavailable" class="icon-remove icon-white"></i> &nbsp; <%  
                  #Remove extra status information
                  availability = holding_record.availability
                  availability_replacements = [ [/\+[0-9]/, ""], ["HOLD", ""] ]
                  availability_replacements.each {|replacement| availability.gsub!(replacement[0], replacement[1])}
                %> &nbsp; <%= availability %>
              <% end %>
               &nbsp; <%= holding_record.local_location %>
          <% end %>
        </small>
      </dd>
    <% end %>
  </dl>
<% end %>
