/* fixes & overrides */

/* navbar fixes */

.navbar-fixed-top, .navbar-fixed-bottom {
  margin-bottom: 0px !important;
}

.navbar-fixed-bottom .navbar-inner 
{
  border-width: 0;
}

.navbar .nav {
  margin: 3px 10px 0 0;
}

.actions form {
	margin: 0;
	text-align: center;
}

.label {
  border-radius: 2px 2px 2px 2px !important;
}

.container-fluid-fix {
  min-width: 100%;
}

/* bootstrap icon placement */
[class^="icon-"], [class*=" icon-"] {
  margin-top: 3px;
  vertical-align: top;
}
