/* site nav */

.navbar .brand {
	background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: inline-block;
  margin-left: 10px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: 0;
  white-space: nowrap;
  width: 165px;
}

.brand-logo {
  height:40px;
  img {  margin: 7px 15px 2px 0; }
}

.brand-logo-phone {
  margin: 0 15px 0 0;
  img { height: 27px; }
}

.navbar-fixed-bottom {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.navbar-fixed-top {
  margin: 0;
  filter:alpha(opacity=92); /* For IE8 and earlier */
   -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#navbar-fixed-results-top {
  margin: 0;
  opacity: 1;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* nav tools */

.nav {
  margin-bottom: 0;
}

.nav-tabs > li > a, .nav-pills > li > a {
  margin-right: -1px;
}

/* side nav */

.sidenav {
  background-color: #fff;
  border: 0 none;
  box-shadow: none;
}

.sidenav-alt {
  background-color: #efefef;
  border: 0 none;
  border-radius: 0;
  transition: all 0.2s ease-in-out 0s;
  text-shadow:0px 1px 0px #efefef;
  &:hover { background: #d9d9d9;}
  label.checkbox {
    font-size: 96%;
  }
}

.sidenav h5 {
  border: none;
}

#sidebar .well, #sidebar {
  padding: 0;
}

.well {
  border: 0;
}

ul.nav li.menu-item {
  clear: both;
  margin-bottom: 1em;
  background: none repeat scroll 0 0 #efefef;
  :hover {
    background-color: #d9d9d9;  
  }
  a { padding: 8px 14px; color: #666;}
}