/* tiles */

@function tile-transparency($tile-color) {
	@return rgba($tile-color, $tiletransparency)
}

@function tile-text-color($tile-color) {
  @return if( lightness( $tile-color ) > 50, #333, #fff );
}

@function tile-link-color($tile-color) {
  @return if( lightness( $tile-color ) > 50, $darklink, $lightlink );
}

.tile {
  padding: 0.75em 1.5em 1.5em;
  margin-bottom: $tilerowgutter;
  min-height: 281px;
}

.hero-tile {
  padding: 20px 30px 20px;
  border-radius: 0 0 0 0;
  margin-bottom: $tilerowgutter;
  p { padding: 1em 0; }
}

.tile-shadow 
{
  -webkit-box-shadow: 0px 0 10px -10px rgba(50, 50, 50, 0.15), -10px 0 10px -10px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 10px 0 10px -10px rgba(50, 50, 50, 0.15), -10px 0 10px -10px rgba(50, 50, 50, 0.15);
  box-shadow: 10px 0 10px -10px rgba(50, 50, 50, 0.15), -10px 0 10px -10px rgba(50, 50, 50, 0.15);
}

.tile-shadow-right {
  -webkit-box-shadow: 0px 0 10px -10px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 10px 0 10px -10px rgba(50, 50, 50, 0.15);
  box-shadow: 10px 0 10px -10px rgba(50, 50, 50, 0.15);
}

.tile-shadow-left {
-webkit-box-shadow: -10px 0 10px -10px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: -10px 0 10px -10px rgba(50, 50, 50, 0.15);
  box-shadow: -10px 0 10px -10px rgba(50, 50, 50, 0.15);
}

.tile-shadow-high
{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.64);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.64);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.64);
}

.tile-white {
  background-color: #fff;
	background-color: tile-transparency($cleanwhite);
	color: tile-text-color($cleanwhite);
}

.tile-green-blue {
	background-color: tile-transparency($greenishblue);
	color: tile-text-color($greenishblue);
	a { 
		color: $lightlink;
		&:hover { color: darken($lightlink, 15%);}
	}
}

.tile-light-grey {
  background-color: #ebebeb;
	background-color: tile-transparency($lightgrey);
	color: tile-text-color($lightgrey);
	a { 
		color: $darklink;
		&:hover { color: lighten($darklink, 15%);}
	}
}

.tile-light-blue {
	background-color: tile-transparency($lightblue);
	color: tile-text-colour($lightblue);
	a { 
		color: $darklink;
		&:hover { color: lighten($darklink, 15%);}
	}
}

.tile-light-green {
  background-color: #EDFFC4;
  background-color: tile-transparency($lightgreen);
  color: tile-text-colour($lightgreen);
  a { 
    color: $darklink;
    &:hover { color: lighten($darklink, 15%);}
  }
}

.tile-green {
  color: #fff;
  background-color: #51A351;
  background-color: rgba(81, 163, 81, 0.98);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3M2M1NzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTFhMzUxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 255, color-stop(0%, rgba(115, 197, 115, 0.98)), color-stop(100%, rgba(81, 163, 81, 0.98)));
  background-image: -webkit-radial-gradient(left top, farthest-corner, rgba(115, 197, 115, 0.98) 0%, rgba(81, 163, 81, 0.98) 100%);
  background-image: -moz-radial-gradient(left top, farthest-corner, rgba(115, 197, 115, 0.98) 0%, rgba(81, 163, 81, 0.98) 100%);
  background-image: -ms-radial-gradient(left top, farthest-corner, rgba(115, 197, 115, 0.98) 0%, rgba(81, 163, 81, 0.98) 100%);
  background-image: -o-radial-gradient(left top, farthest-corner, rgba(115, 197, 115, 0.98) 0%, rgba(81, 163, 81, 0.98) 100%);
  background-image: radial-gradient(farthest-corner at left top, rgba(115, 197, 115, 0.98) 0%, rgba(81, 163, 81, 0.98) 100%);
  a {
      color: $lightlink;
      &:hover { color: darken($lightlink, 15%);}
    }
}

.tile-orange {
  color: #fff;
  background-color: #cb812a;
  background-color: rgba(203, 129, 42, 0.98);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDIwMywgMTI5LCA0MiwgMC45OCkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9InJnYmEoMTQxLCA4OSwgMjksIDAuOTgpIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InJnYmEoMTQxLCA4OSwgMjksIDAuOTgpIiAvPjxyZWN0IHg9Ii0xNDEuNDIxNCUiIHk9Ii0xNDEuNDIxNCUiIHdpZHRoPSIyODIuODQyNyUiIGhlaWdodD0iMjgyLjg0MjclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 255, color-stop(0%, rgba(203, 129, 42, 0.98)), color-stop(100%, rgba(141, 89, 29, 0.98)));
  background-image: -webkit-radial-gradient(left top, farthest-corner, rgba(203, 129, 42, 0.98) 0%, rgba(141, 89, 29, 0.98) 100%);
  background-image: -moz-radial-gradient(left top, farthest-corner, rgba(203, 129, 42, 0.98) 0%, rgba(141, 89, 29, 0.98) 100%);
  background-image: -ms-radial-gradient(left top, farthest-corner, rgba(203, 129, 42, 0.98) 0%, rgba(141, 89, 29, 0.98) 100%);
  background-image: -o-radial-gradient(left top, farthest-corner, rgba(203, 129, 42, 0.98) 0%, rgba(141, 89, 29, 0.98) 100%);
  background-image: radial-gradient(farthest-corner at left top, rgba(203, 129, 42, 0.98) 0%, rgba(141, 89, 29, 0.98) 100%);
}

.tile-cream {
	background-color: #FBEED5;
	background-color: rgba(255, 251, 245, 0.98);
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjUxLCAyNDUsIDAuOTgpIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSJyZ2JhKDI1MSwgMjM4LCAyMTMsIDAuOTgpIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InJnYmEoMjUxLCAyMzgsIDIxMywgMC45OCkiIC8+PHJlY3QgeD0iLTE0MS40MjE0JSIgeT0iLTE0MS40MjE0JSIgd2lkdGg9IjI4Mi44NDI3JSIgaGVpZ2h0PSIyODIuODQyNyUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
	background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 255, color-stop(0%, rgba(255, 251, 245, 0.98)), color-stop(100%, rgba(251, 238, 213, 0.98)));
	background-image: -webkit-radial-gradient(left top, farthest-corner, rgba(255, 251, 245, 0.98) 0%, rgba(251, 238, 213, 0.98) 100%);
	background-image: -moz-radial-gradient(left top, farthest-corner, rgba(255, 251, 245, 0.98) 0%, rgba(251, 238, 213, 0.98) 100%);
	background-image: -ms-radial-gradient(left top, farthest-corner, rgba(255, 251, 245, 0.98) 0%, rgba(251, 238, 213, 0.98) 100%);
	background-image: -o-radial-gradient(left top, farthest-corner, rgba(255, 251, 245, 0.98) 0%, rgba(251, 238, 213, 0.98) 100%);
	background-image: radial-gradient(farthest-corner at left top, rgba(255, 251, 245, 0.98) 0%, rgba(251, 238, 213, 0.98) 100%);
}