// All the parameters below are the defaults assumed by blacklight. If you want
// to change one, uncomment and change.

// The default grid used is the susy framework. (http://susy.oddbird.net)


$navbarBackgroundHighlight: #333333;
$navbarBackground: #222222;


//$background_image: 'blacklight/bg.png' !default;
$logo_image: 'blah/logo.gif';

// Currently unused, but this import handles mixins common to blacklight
// @import 'blacklight/mixins';

// And then this imports the base blacklight stylesheet.
@import 'blacklight/blacklight_base';


