<footer>
  <div class="navbar navbar-fixed-bottom">
    <div id="footer-container-top" class="navbar-inner">
      <div class="container">
        <h4 id="footer-title-top" class="hidden-phone">
           <%= link_to "University of Hull - Library and Learning Innovation", root_path, :class => 'brand' %>
        </h4>
        <div class="brand-logo pull-right visible-phone"></div>
      </div>
    </div>
    <div id="footer-container" class="navbar-inner">
      <div class="container">
        <div class="row">
          <div id="footer-row">
            <div class="span3">
              <div id="footer-column">
                  <h4>Section</h4>
                  <ul>
                   <li><a href="#">Link</a></li>
                   <ul>
                       <li><a href="#">Sub-link</a></li>
                       <li><a href="#">Sub-link</a></liv>
                  </ul>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                  </ul>
              </div>
            </div>
            <div class="span3 hidden-phone">
              <div id="footer-column">
                 <h4>Section</h4>
                 <ul>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                  </ul>
              </div>
              </div>
              <div class="span3 hidden-phone">
                <div id="footer-column">
                    <h4>Section hidden on phone</h4>
                    <ul>
                     <li><a href="#">Link</a></li>
                     <li><a href="#">Link</a></li>
                     <li><a href="#">Link</a></li>
                     <li><a href="#">Link</a></li>
                     <li><a href="#">Link</a></li>
                    </ul>
                </div>
              </div>
              <div class="span3 visible-desktop">
                  <div id="footer-column">
                    <h4>Section hidden on phone</h4>
                    <ul>
                       <li><a href="#">Link</a></li>
                       <li><a href="#">Link</a></li>
                       <li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
                       <li><a href="#">Link</a></li>
                    </ul>
                  </div>
             </div>
           </div>
           <div class="row">
              <div class="span12">
                  <p class="pull-right">&copy; Project Blacklight</p>
              </div>
           </div>
          </div>
        </div>
        </div>
       </div>
      </footer>
