<footer>
  <div class="navbar navbar-fixed-bottom">
    <div id="footer-container-top" class="navbar-inner">
      <div class="container">
        <h4 id="footer-title-top" class="hidden-phone">
           <%= link_to "University of Hull - Library and Learning Innovation", root_path, :class => 'brand' %>
        </h4>
        <div class="brand-logo pull-right visible-phone"></div>
      </div>
    </div>
    <div id="footer-container" class="navbar-inner">
      <div class="container">
        <div class="row">
          <div id="footer-row">
            <div class="span3">
              <div id="footer-column">
                  <h4>Library</h4>
                  <ul>
                   <li><a href="http://www.hull.ac.uk/lib">Library Website</a></li>
                   <li><a href="http://www2.hull.ac.uk/acs/lib/using_our_libraries/services/openinghours.aspx">Opening hours</a></li>
                   <li><a href="http://libguides.hull.ac.uk/content.php?pid=354204&sid=2904852">Inter-site requests</a></li>
                   <li><a href="http://libguides.hull.ac.uk">LibGuides</a></li>
                   <li><a href="http://hydra.hull.ac.uk">Hydra digital repository</a></li>
                  </ul>
              </div>
            </div>
            <div class="span3">
              <div id="footer-column">
                 <h4>Learning</h4>
                 <ul>
                   <li><a href="http://ebridge.hull.ac.uk">eBridge</a></li>
                   <li><a href="http://readinglists.hull.ac.uk">Readinglists@Hull</a></li>
                   <li><a href="http://digitaltexts.hull.ac.uk">Digital Texts</a></li>
                   <li><a href="http://libcal.hull.ac.uk">Room & course bookings</a></li>
                   <li><a href="http://libguides.hull.ac.uk/content.php?pid=289992&sid=2383239">Ask us a question</a></li>
                  </ul>
              </div>
              </div>
              <div class="span3">
                <div id="footer-column">
                    <h4>Skills</h4>
                    <ul>
                     <li><a href="http://libguides.hull.ac.uk/skills">Skills website</a></li>
                     <ul>
                       <li><a href="http://libguides.hull.ac.uk/content.php?pid=334323&sid=2734591">Undergraduate</a></li>
                       <li><a href="http://libguides.hull.ac.uk/content.php?pid=363623&sid=2976108">Postgraduate</a></li>
                       <li><a href="http://libguides.hull.ac.uk/content.php?pid=363629&sid=2976166">Staff</a></li>
                     </ul>                    
                    </ul>
                </div>
              </div>
              <% #Hidden on tablet due to wrapping problem -%>
              <div class="span3 hidden-tablet">
                  <div id="footer-column">
                    <h4>University</h4>
                    <ul>
                       <li><a href="http://www.hull.ac.uk">University website</a></li>
                       <li><a href="http://portal.hull.ac.uk">University portal</a></li>
                       <li><a href="https://hull.avedas.com/converis/area/3734">Research portal</a></li>
                       <li><a href="http://www2.hull.ac.uk/departments.aspx">Departments and faculties</a></li>
                    </ul>
                  </div>
             </div>
           </div>
           <div class="row">
              <div class="span12">
                  <p class="pull-right">&copy; <%= get_year %>&nbsp;<a href="http://www.hull.ac.uk">The University of Hull</a>. Powered by <a href="http://projectblacklight.org/">Blacklight</a></p>
              </div>
           </div>
          </div>
        </div>
        </div>
       </div>
      </footer>
