 <h1>Search the library catalogue...</h1>
 <p>Search the library's holdings for books, e-books and other electronic resources, images, journals and multimedia, plus more:</p>
  <%= render :partial => 'home_search_form' %>