<div class="accordion hero-tile tile-white tile-shadow" id="searchHelp" style="border-top: 1px solid #5fb15f;">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#searchHelp" href="#collapseHelp">
          <span class="link-hover"><strong>Help searching the catalogue</strong></span>
        </a>
      </div>
      <div id="collapseHelp" class="accordion-body collapse">
        <div class="accordion-inner">

          <p>There are numerous ways to find what your looking for in the Library Catalogue, here's how:</p>

          <h4>Search</h4>

          <p>Enter a criteria into the search field above and press the Search button. You can limit your search to Title, Author, Subject or Classmark by using the accompanying drop down list, or, to search Electronic Journal only click the checkbox beneath the search bar. This search bar will always be available throughout the catalogue at the top of the page.
          </p>

          <h4>Advanced search</h4>

          <p>
          For more advanced searches of the Library Catalogue use the Advanced Search form.
          </p>

          <p>
              <a href="/advanced">Advanced search  →</a> 
          </p>

        </div>
      </div>
    </div>
  </div>