<h2>Quick links</h2>
<p>Links to useful resources...
  <p>
  <a target="_blank" href="https://library.hull.ac.uk/patroninfo">
    <i class="icon-eye-open"></i>
    My Library account
  </a>
 </p>
<p>
    <a target="_blank" href="http://libguides.hull.ac.uk/content.php?pid=354204&sid=2897257">
      <i class="icon-question-sign"></i>
    Help
   </a>
</p>
 <p>
    <a target="_blank" href="http://libguides.hull.ac.uk">
      <i class="icon-pencil"></i>
    Libguides
   </a>
</p>
<p>
    <a href="cookies">
      <i class="icon-info-sign"></i>
      Cookies
   </a>
</p>
<p>
    <a target="_blank" href="http://libguides.hull.ac.uk/content.php?pid=354204&sid=3081999">
      <i class="icon-time"></i>
    Opening hours
   </a>
</p>
