<h2>Announcements</h2>
<p>
Welcome to the Library’s alternative library catalogue search interface, developed using the <a href="http://projectblacklight.org">Blacklight</a> discovery platform.  This is being made available in addition to the current interface as an experiment to test out innovative ways of presenting access to the library’s collections.  Please try it out and let us have your feedback (via the <a href="/contact">form</a> available in the bottom left corner of each page, or via libhelp@hull.ac.uk): suggestions for additional services are also very welcome.  The interface will continue to be developed and functionality added – outstanding issues can be found <a href="/faq">here</a> to clarify what is and what is not currently available.
</p>                                               
<p>
 	<i class="icon-comment"></i> Give this site a try on iPhone, iPad, Android or any other device! <a href="/contact">Let us know</a> if you discover problems
</p>