<div class="span12 offset2">
  <div class="tile tile-light-blue tile-shadow">
  	<h2>Library twitter</h2>
    <a class="twitter-timeline" href="https://twitter.com/HullUni_Library" data-widget-id="<%= twitter_widget_data_id %>">Tweets by @HullUni_Library</a></p>
    <script type="text/javascript">// <![CDATA[
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
// ]]></script>
  </div>
</div>

