<h2>Announcements</h2>
<p>
  Welcome to the Library’s new library catalogue search interface.  The new catalogue has been designed to provide a host of features and ways of finding the items you need.  Over the coming months we’ll showcase these via these announcements: you can also discover them yourself by just entering a search in the box above to get going.  The new catalogue is designed for accessibility on mobile and tablet devices as well as desktops/laptops.  Give the site a try on Android, iPhone, iPad, Windows Mobile or any other such device.</p>	
<p>
<i class="icon-bullhorn"></i> <strong>Feature focus:</strong> Once you have carried out a search you can slim down the set of results by clicking on one of the facets on the left-hand side of the results page.  You can also select multiple facets to add different limits to your search.  Alternatively, select one of the facets below to carry out an initial browse of the catalogue by Author, Subject, Library, or Format (you can search the catalogue from the browse results page following this). 
</p>
<p>
  <i class="icon-comment"></i> Please let us have your feedback (via the <a href="/contact">form</a> available on the right of each page, or via <a href="mailto:libhelp@hull.ac.uk">libhelp@hull.ac.uk</a>): <a href="/contact">let us know</a> if any difficulties arise, or if you have ideas for enhancing the service.   An <a href="/faq">FAQ</a> is available to provide up-to-date information on developments, and we will announce further developments as functionality is added. 
</p>