<!-- Main hero unit for primary  action -->
<div class="span10 offset3">
  <div class="hero-tile tile-green tile-shadow">
    <div class="row-spacer visible-desktop">
    &nbsp;
    </div>
   <%= render :partial => 'shared/home_search_text' %>
  </div>
</div>
