<h2>Browse the catalogue</h2>
<p>You can browse the catalog by...</p>
<p>
  <%= render_home_page_link('/catalog/facet/subject_topic_facet', 'Subject', {:i_class => 'icon-tags'}) %>
</p>
<p>
  <%= render_home_page_link('/catalog/facet/library', 'Library', {:i_class => 'icon-home'}) %>
</p>
<p>
  <%= render_home_page_link('/catalog/facet/format', 'Format', {:i_class => 'icon-user'}) %>
 </p>
 <p>
   <a href="#">&nbsp;</a>
 </p>
 <p>
   <a href="#">&nbsp;</a>
 </p>


