<script src="http://widgets.twimg.com/j/2/widget.js" type="text/javascript"></script>
<div id="social-tile" class="hidden-phone">
  <h2>Library twitter</h2>
  <script type="text/javascript">new TWTR.Widget({  version: 2,  type: 'profile',  rpp: 3,  interval: 6000,  width: '575',  height: 400,  theme: {    shell: {   background:'none',   color: '#fff'   },    tweets: {  background:'none',  color: '#fff',      links: '#fff'    }  },  features: {    scrollbar: false,    loop: false,    live: false,    hashtags: true,    timestamp: true,    avatars: true,    behavior: 'all'  }}).render().setUser('HullUni_Library').start();</script>
      <noscript>
        <div>Browser does not support script.</div>
      </noscript>
</div>

<div id="social-tile" class="generic-tile-layout-phone visible-phone">
  <h2>Library twitter</h2>
  <script type="text/javascript">new TWTR.Widget({  version: 2,  type: 'profile',  rpp: 1,  interval: 6000,  width: '220',  height: 400,  theme: {    shell: {   background:'none',   color: '#fff'   },    tweets: {  background:'none',  color: '#fff',      links: '#fff'    }  },  features: {    scrollbar: false,    loop: false,    live: false,    hashtags: true,    timestamp: false,    avatars: false,    behavior: 'all'  }}).render().setUser('HullUni_Library').start();</script>
      <noscript>
        <div>Browser does not support script.</div>
      </noscript>
</div>

