<div class="span8 offset2 visible-desktop">
  <div id="search-tile" class="hero-unit tile-shadow tile-green search-tile">
    <%= render :partial => 'shared/home_search_text' %>
  </div>
</div>

<!-- tablet -->
<div class="span12 visible-tablet">
  <div id="search-tile-tablet" class="hero-unit tile-shadow tile-green search-tile">
    <%= render :partial => 'shared/home_search_text' %>
  </div>
</div>

  <!-- phone -->
<div class="span12 visible-phone">      
  <div id="search-tile-phone" class="generic-tile-phone tile-green search-tile">
    <%= render :partial => 'shared/home_search_text' %>
  </div>     
</div>