<div class="span6">
  <div class="tile tile-light-grey">
    <h2>Quick links</h2>
      <i class="icon-eye-open"></i>
      <a target="_blank" href="https://library.hull.ac.uk/patroninfo">
        My Library account
      </a>
     </p>
     <p>
      <i class="icon-book"></i>
        <a target="_blank" href="http://zc7xc9dq8b.search.serialssolutions.com/">
        Electronic journals A-Z list
       </a>
    </p>

    <p>
      <i class="icon-question-sign"></i>
      <a target="_blank" href="http://libguides.hull.ac.uk/content.php?pid=354204&sid=2897257">
        Help
      </a>
    </p>
     <p>
      <i class="icon-pencil"></i>
      <a target="_blank" href="http://libguides.hull.ac.uk">
        Libguides
       </a>
    </p>
    <p>
      <i class="icon-info-sign"></i>
      <a href="cookies">
        Cookies
      </a>
    </p>
    <p>
      <i class="icon-time"></i>
      <a target="_blank" href="http://libguides.hull.ac.uk/content.php?pid=354204&sid=3081999">
        Opening hours
      </a>
    </p>
  </div>
</div>