<h2>Quick links</h2>
<p>Links to useful resources...
  <p>
  <a target="_blank" href="https://library.hull.ac.uk/patroninfo">
    <i class="icon-eye-open"></i>
    My Library account
  </a>
 </p>
<p>
    <a target="_blank" href="http://www2.hull.ac.uk/lli/help-feedback.aspx">
      <i class="icon-question-sign"></i>
    Help
   </a>
</p>
 <p>
    <a target="_blank" href="http://libguides.hull.ac.uk">
      <i class="icon-pencil"></i>
    Libguides
   </a>
</p>
<p>
    <a target="_blank" href="http://www2.hull.ac.uk/acs/library/news_and_events.aspx">
      <i class="icon-bullhorn"></i>
      Library News
   </a>
</p>
<p>
    <a target="_blank" href="http://www2.hull.ac.uk/acs/lib/using_our_libraries/services/openinghours.aspx">
      <i class="icon-time"></i>
    Opening hours
   </a>
</p>
