 <h2>Search the catalogue...</h2>
 <p>Search the library's holdings for books, e-books and other electronic resources, images, journals and other periodicals, plus more: </p>
  <%= render :partial => 'home_search_form' %>