<div class="span4 offset3">
	<div class="tile tile-cream tile-shadow-left">
		<h2>Browse</h2>
		<p>You can browse the catalogue by...</p>
		<p>
		  <i class="icon-user"></i>
		  <%= render_home_page_link('/catalogue/facet/author_facet', 'Author') %>
		</p>
		<p>
			<i class="icon-tags"></i>
		  	<%= render_home_page_link('/catalogue/facet/subject_topic_facet', 'Subject') %>
		</p>
		<p>
		<i class="icon-home"></i>
		  <%= render_home_page_link('/catalogue/facet/library', 'Library') %>
		</p>
		<p>
		<i class="icon-book"></i>
		  <%= render_home_page_link('/catalogue/facet/format', 'Format') %>
		</p>
	</div>
</div>


