<div class="span8">
    <div class="tile tile-cream tile-shadow-left" style="height: 350px;">
        <h2>Browse</h2>
        <p>You can browse the catalogue by...</p>
        <p>
            <i class="icon-user"></i>
            <%= render_home_page_link('/catalogue/facet/author_facet', 'Author') %>
        </p>
        <p>
            <i class="icon-tags"></i>
            <%= render_home_page_link('/catalogue/facet/subject_topic_facet', 'Subject') %>
        </p>
        <p>
            <i class="icon-home"></i>
            <%= render_home_page_link('/catalogue/facet/library', 'Library location') %>
        </p>
        <p>
            <i class="icon-book"></i>
            <%= render_home_page_link('/catalogue/facet/format', 'Format') %>
        </p>
        <p>
        Use these headings to get a broad overview of the Library's collections - please note they provide long lists of results. These options can also be used after a search to limit the set of results you get.
        </p>
    </div>
</div>