<div class="span10 offset3">
  <div class="tile tile-light-blue tile-shadow">
    <h2>Library twitter</h2>
    <img src="lib-twitter-icon.jpg" style="float:left; padding-right:1em;"/>
    <p>For news, events, training, information, new resources and alerts from the Brynmor Jones Library, at Hull University, follow the twitter account at <a target="_blank" href="https://twitter.com/HullUni_Library">@HullUni_Library</a></p>
  </div>
</div>  
