<div class="span5 offset2">
	<div class="tile tile-white tile-shadow">
		<h2>Browse</h2>
		<p>You can browse the catalogue by...</p>
		<p>
		  <%= render_home_page_link('/catalogue/facet/author_facet', 'Author', {:i_class => 'icon-user'}) %>
		</p>
		<p>
		  <%= render_home_page_link('/catalogue/facet/subject_topic_facet', 'Subject', {:i_class => 'icon-tags'}) %>
		</p>
		<p>
		  <%= render_home_page_link('/catalogue/facet/library', 'Library', {:i_class => 'icon-home'}) %>
		</p>
		<p>
		  <%= render_home_page_link('/catalogue/facet/format', 'Format', {:i_class => 'icon-book'}) %>
		</p>
		<!-- These act as spacers on the desktop and tablet -->
		<p class="hidden-phone">
		   <a href="#">&nbsp;</a>
		</p>

	</div>
</div>


