<h2>Announcements</h2>

<article class="news-article">
    <time class="bar-time" datetime="2014-09-23">September 23, 2014</time>
    <h3>Feature focus</h3>
    <p class="doc">
    Recent changes to the catalogue include the addition of clearer indications of the class number, telling you precisely where to find the book on the shelf, better linking to e-resources, improved accessibility design, plus the option to limit a search to journal titles.  Further enhancements are planned for next month.  Thank you for the feedback received so far, which has led to these changes, and also highlighted a couple of bugs that have now been fixed.
    </p>
<!--     <div class="tile-btn-primary">
    <a href="/" title="Click to read this article" class="read-article">Read article →</a>
    </div> -->
</article>

<article class="news-article">
    <time class="bar-time" datetime="2014-09-22">September 22, 2014</time>
    <h3>Your feedback</h3>
    <p class="doc">
    Please let us have your feedback (via the form available on the right of each page, or via <a href="mailto:libhelp@hull.ac.uk">libhelp@hull.ac.uk</a>): let us know if any difficulties arise, or if you have ideas for enhancing the service. An FAQ is available to provide up-to-date information on developments, and we will announce further developments as functionality is added.
    </p>
    <div class="tile-btn-primary">
        <%= link_to 'Leave feedback →', '/contact', :class => 'read-article', :title => 'Click to leave feedback'  %>
    </div>
     <div class="tile-btn-primary">
        <%= link_to 'FAQ →', '/faq', :class => 'read-article', :title => 'Click to view FAQs'  %>
    </div>
</article>

<article class="news-article">
    <time class="bar-time" datetime="2013-09-30">September 30, 2013</time>
    <h3>New library catalogue search interface</h3>
    <p class="doc">
    Welcome to the Library’s new library catalogue search interface.  The new catalogue has been designed to provide a host of features and ways of finding the items you need.  Over the coming months we’ll showcase these via these announcements: you can also discover them yourself by just entering a search in the box above to get going.  The new catalogue is designed for accessibility on mobile and tablet devices as well as desktops/laptops.  Give the site a try on Android, iPhone, iPad, Windows Mobile or any other such device.
    </p>
<!--     <div class="tile-btn-primary">
    <a href="/" title="Click to read this article" class="read-article">Read article →</a>
    </div> -->
</article>