<div class="span6">
  <div class="tile tile-light-grey tile-shadow-right">
    <h2>Quick links</h2>
      <i class="icon-eye-open"></i>
      <a href="https://library.hull.ac.uk/patroninfo">
        My Library account
      </a>
     </p>
     <p>
      <i class="icon-book"></i>
        <a href="http://zc7xc9dq8b.search.serialssolutions.com/">
        Electronic journals A-Z list
       </a>
    </p>

    <p>
      <i class="icon-question-sign"></i>
      <a href="http://www2.hull.ac.uk/lli/library-services/help_and_support.aspx">
        Help
      </a>
    </p>
     <p>
      <i class="icon-pencil"></i>
      <a href="http://libguides.hull.ac.uk">
        Libguides
       </a>
    </p>
    <p>
      <i class="icon-info-sign"></i>
      <a href="cookies">
        Cookies
      </a>
    </p>
    <p>
      <i class="icon-time"></i>
      <a href="http://www2.hull.ac.uk/lli/library-services/opening-hours.aspx">
        Opening hours
      </a>
    </p>
  </div>
</div>