<h1 class="blacklight-green-color">Cookies</h1>
  <p>To help us manage the Blacklight site, we sometimes place small data files on
        your computer. These are known as cookies. Most  websites do this.</p>

  <p>They improve things by:</p>

  <ul>
    <li>remembering settings, so you don’t have to keep re-entering them whenever you visit a new page</li>
    <li>measuring how you use the website so we can make sure it meets your needs</li>
  </ul>
  <p>Our cookies aren’t used to identify you personally. They’re just here to make the site work better for you. Indeed, you can manage and/or delete these small files as you wish.</p>
  <p>To learn more about cookies and how to manage them, visit <a href="http://www.aboutcookies.org/" title="Information about cookies">AboutCookies.org</a>. Or please read on to find out more about how and where we use cookies.</p>


<!-- Global Bootstrap settings
================================================== -->
<section id="cookies">
  <div class="page-header faq-header">
    <h2>How we use cookies</h2>
  </div>

     <p>Hull's Blacklight website uses cookies in several places – we’ve listed each of them
        below with more details about why we use them and how long they will
        last.</p>
        <h3 id="analyticscookies">Measuring website usage (Google Analytics)</h3>
        <p>We use Google Analytics to collect information about how people use
        this site. We do this to make sure it’s meeting its users’ needs and to
        understand how we could do it better.</p>
        <p>Google Analytics stores information about what pages you visit, how
        long you are on the site, how you got here and what you click on. We do
        not collect or store your personal information (e.g. your name or
        address) so this information cannot be used to identify who you are.  We
        do not allow Google to use or share our analytics data.</p>
        <p>The following cookies are set by Google Analytics:</p>
        <table class="table table-striped table-bordered cookies">
          <thead>
            <tr>
              <th>Name</th>
                      <th>Typical Content</th>
                      <th>Expires</th>
                  </tr>
          </thead>
          <tbody>
            <tr>
              <td>_utma</td>
                      <td>randomly generated number</td>
                      <td>2 years</td>
                  </tr>
            <tr>
              <td>_utmb</td>
                      <td>randomly generated number</td>
                      <td>30 minutes</td>
                  </tr>
            <tr>
              <td>_utmc</td>
                    <td>randomly generated number</td>
                    <td>when you close your browser</td>
                  </tr>
            <tr>
              <td>_utmx</td>
                      <td>randomly generated number</td>
                      <td>2 years</td>
                  </tr>
            <tr>
              <td>_utmxx</td>
                      <td>randomly generated number</td>
                      <td>2 years</td>
                  </tr>
            <tr>
              <td>_utmz</td>
                      <td>randomly generated number and information on how the site was
                      reached (e.g. direct or via a link, organic search or paid
                      search)</td>
                      <td>6 months</td>
                  </tr>
          </tbody>
        </table> 

        <h3 id="authenticationcookies">Session information</h3>
           <p>To help us manage the 'session' in Blacklight on your browser we generate a cookie that allows us to keep track of, for instance, your searches.  This is completely anonymous information but allows us to provide you with facilities like your 'search history', and 'Your selected items'. </p>
        <table class="table table-striped table-bordered cookies">
      <thead>
        <tr>
          <th>Name</th>
                  <th>Typical Content</th>
                  <th>Expires</th>
              </tr>
      </thead>
      <tbody>
        <tr>
          <td>_blah_session </td>
                  <td>a sequence of randomly generated characters</td>
                  <td>when you close your browser</td>
              </tr>
      </tbody>
    </table>
    <h3 id="authenticationcookies">Social plugins</h3>
       <p>Hull's Blacklight home page contains a 'Twitter tile' to display the Hull Uni Library (@HullUni_Library) tweet list.</p>
      <table class="table table-striped table-bordered cookies">
        <thead>
          <tr>
            <th>Name</th>
                    <th>Typical Content</th>
                    <th>Expires</th>
                </tr>
        </thead>
        <tbody>
          <tr>
            <td>guest_id</td>
                    <td>This cookie is set for the browser to remember the guest id to display the latest news from our twitter account.</td>
                    <td>when you close your browser</td>
                </tr>
        </tbody>
      </table>
</section>

