<h1>Libsearch FAQ <small>A change of interface</small></h1>

<!-- Global Bootstrap settings
================================================== -->
<section id="interface">
  <div class="text-block">
    <h3>Why have a different interface?</h3>
    <p>Library catalogues were quick to exploit the web in the 1990s and develop a range of web interfaces that greatly facilitated access to library collections.  As the web has developed the ability to search for almost anything has evolved hugely, and library systems have not always managed to keep up.  This different interface seeks to make use of current web trends in providing access to the library catalogue in ways that our current catalogue cannot provide.  It also makes use of recent design trends in the presentation of search services.</p>
  </div>
  <div class="text-block">
    <h3>What has happened to the previous interface?</h3>
    <p>We have not completely abandoned the previous interface.  It is available for those who wish to carry on using it at <a href="http://library.hull.ac.uk">http://library.hull.ac.uk</a> or via the <a href="http://library.hull.ac.uk">'Classic catalogue'</a> link at the top of every page in the new interface.  We are also continuing to use the previous interface for functionality such as access to your library account, requests and bookings, which the new interface can’t provide directly at this time.  The new interface will link through to the necessary functionality as it is required.</p>
  </div>
   <div class="text-block">
    <h3>How can I give feedback or make suggestions?</h3>
    <p>Please use the feedback form that is available on the right-hand side of each page of this interface, or send your feedback to <a href="mailto:libhelp@hull.ac.uk">libhelp@hull.ac.uk</a>. The more feedback we get, the better we can make the library catalogue work for you.</p>
   </div>
  <div class="text-block">
    <h3>What’s different about this interface?</h3>
    <p>The main differences are:</p>
    <ul>
      <li>A simpler single search box for all materials (with an advanced search where preferred)</li>
      <li>More extensive indexing of the catalogue records to facilitate access</li>
      <li>The use of facets to assist with narrowing a search and browsing the collection</li>
      <li>Clearer indication of the availability of items</li>
      <li>Guidance on citing items and the ability to share them with others via social media</li>
    </ul>
    </div>     
</section>

<!-- Grid system
================================================== -->
<section >
  <h2>Searching the catalogue</h2>

  <div class="text-block" id="searching">
    <h3>What are facets?</h3>
    <p>Facets are different views of a collection.  For example, the Library facet on the main search page shows you a view of the collection broken down by the library holding the items; the Format facet shows the same collection viewed by format of the material.  A range of facets is available, and has been made possible by the indexing of the catalogue that this interface supports.  Facets are used by many Internet shopping and other web sites, and work here in similar ways to elsewhere on the web.</p>
  </div>
  <div class="text-block">
    <h3>Why did I get those results?</h3>
    <p>Searching the catalogue will search the whole catalogue record, which is often richer than what is displayed.  Hence, you may occasionally retrieve items that don’t appear to match your search.  Don’t worry, they do, but just not as obviously as you might have thought.  One way of checking is to look at the Librarian view for an individual item, as this shows the whole record.</p>
  </div>       
</section>

 <section id="features">
    <h2>Additional features</h2>

  <div class="text-block">
    <h3>Availability</h3>
    <p>More detailed, colour-coded, availability information has been included on the search results page to give an instant view of whether the items are accessible.</p>
  </div>
  <div class="text-block">
    <h3>Book covers</h3>
    <p>Book cover images have been added to provide a guide to items.  Please note that the exact book cover may not always match the image, but the information is kept up-to-date and accurate as far as is possible.</p>
  </div>
  <div class="text-block">
    <h3>Facets</h3>
    <p>See above for a description of facets and how they can be used</p>
  </div>
  <div class="text-block">
    <h3>Cite</h3>
    <p>On individual item pages a Cite option displays information on how the item might be cited in a bibliography using a number of commonly used styles.  Please note this is offered as guidance only and detailed citation requirements should be checked with Departments.</p>
  </div>
  <div class="text-block">
    <h3>Share</h3>
    <p>Individual items can be shared via a range of social media services. Additional services can be added to the list.  If you have a favourite, let us know.</p>
  </div>
  <div class="text-block">
    <h3>QR code</h3>
    <p>Each item can be accessed via a QR code where useful.  See the button below the bibliographic details of each item to access and scan this.</p>
  </div>
</section>

<section id="external-links">
  <h2>Links elsewhere <small>(from the individual item display page)</small></h2>
  <div class="text-block">
    <h3>RefWorks/EndNote/Email</h3>
    <p>If you would like to save or export records from the catalogue, you’ll see options to export to the RefWorks or EndNote bibliographic management systems below the bibliographic details on the left-hand side.  For more information on these systems, contact the ICTD Helpdesk.  You can also simply email the record to yourself or a friend directly.</p>
  </div>
  <div class="text-block">
    <h3>Google Book Preview</h3>
    <p>Where available, a link has been inserted to Google Book Preview for items in the catalogue.  This will display in a pop-up window, and display excerpts from the book to help you assess its usefulness.</p>
  </div>
  <div class="text-block">
    <h3>ReadingLists@Hull</h3>
    <p>Where a book has been placed on a reading list, a link to the reading lists system will display beneath the holdings on the right-hand side of the page: a separate link will display for each list the book is included on.</p>    
  </div>
</section>