<ul class="nav nav-list bs-docs-sidenav affix">
  <li class=""><a href="#interface"><i class="icon-chevron-right"></i>A change of interface</a></li>
  <li class=""><a href="#searching"><i class="icon-chevron-right"></i>Searching the catalogue</a></li>
  <li class=""><a href="#features"><i class="icon-chevron-right"></i>Additional features</a></li>
  <li class=""><a href="#notthere"><i class="icon-chevron-right"></i>Not quite there yet...</a></li>       
</ul>