<ul class="nav">
  <li class="menu-item">
    <a href="#interface"><i class="icon-chevron-right pull-right"></i>A change of interface</a>
  </li>
  <li class="menu-item"><a href="#searching">
    <i class="icon-chevron-right pull-right"></i>Searching the catalogue</a>
  </li>
  <li class="menu-item"><a href="#features">
    <i class="icon-chevron-right pull-right"></i>Additional features</a>
  </li>
  <li class="menu-item">
    <a href="#external-links"><i class="icon-chevron-right pull-right"></i>Links elsewhere</a>
  </li>
</ul>