<% search_bar << capture do %>
  <%= render :partial=>'catalog/search_form' %>
<% end %> 

<div class="row">
  <div class="span3 bs-docs-sidebar">
    <%= render :partial=>'cookies_headings.html.erb' %>    
  </div>
  <div class="hidden-phone span9">
    <%= render :partial=>'cookies_text.html.erb' %>    
  </div>
  <div class="visible-phone phone-margins span9">
    <%= render :partial=>'cookies_text.html.erb' %>    
  </div>
</div>

