/* feedback */

#feedback { 
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom: 0;
  border-image: none;
  border-left: medium none;
  border-right: medium none;
  border-top: medium none;
  bottom: -1px;
  float: none !important;
  left: 88px;
  width: 104px !important;
  z-index: 999 !important;
  a { 
    display: block; 
    background: $altcolor; 
    height: 15px; 
    width: 70px; 
    padding: 8px 16px;
    color: #fff; 
    font-family: 'open_sansrbold', sans-serif; 
    font-size: 14px; 
    text-decoration: none; 
    &:hover { 
      background: $altcolorlight; 
      transition: all 0.35s ease-in-out 0s;
    }
  }
}