<% if @library_item.holdings_records_collection.empty? %>
  <p class="no-holdings"><i title="Check with the Library" id="icon-holding-available" class="icon-asterisk icon-white"> </i>&nbsp;<%= t('blah.item.holdings.no_holdings_information') %></p>
<% else %>
  <strong>Location</strong>
  <% if !@library_item.nil? && @library_item.inter_library_loan? %>
    <p>Available through <%= link_to "Inter-Library Loan", inter_library_loan_url %></p>
  <% end %>
  <dl class="defList">
    <% sort_holdings_collection(@library_item.holdings_records_collection) %>
    
    <% @library_item.holdings_records_collection.each_with_index do |holding_record, index| %>
    <dt></dt>
      <dd>
        <small>
          <% if index > 20 %>
            <i title="More available" id="icon-holding-more" class="icon-plus icon-white"></i><%= link_to "View record", catalog_path(@library_item.bib_no) %> to check for more items
            <% break %>
          <% else %>
              <%= holdings_icon(holding_record.availability, holding_record.local_location, holding_record.call_number) %> 
          <% end %>
        </small>
      </dd>
    <% end %>
  </dl>
<% end %>
