<% if query_has_constraints? %>
  <div id="appliedParams" class="constraints-container">

    <%= render_constraints(params) %>
    <hr class="visible-phone">
    <span class="hidden-phone vertical-divider"></span>
    <span><%=link_to t('blacklight.search.start_over'), url_for(:action=>'index'), :class => "catalog_startOverLink", :id=>"startOverLink" %></span>
  </div>
<% end %>