  <% # header bar for doc items in index view -%>
      <div class="documentHeader">        
        <% # bookmark/folder functions for items/docs -%>
        <%= render_index_doc_actions document %>    
      </div>
