<div class="holdings">
  <div class="table-container">
    <table class="table availability-table">
      <thead>
        <tr>   
          <td colspan="3"><h5>Online</h5><h5></h5></td>
        </tr>
      </thead>
      <tbody>
        <%= render_online_resources(@document) %>        
      </tbody>
		</table>
  </div>
</div>