<div class="container-gutter">
  <h3>Reading lists</h3>
</div>
<div id="reading-list-nav" class="sidebar-nav well">
  <table class="table availability-table reading-list-table">
	  <thead>
      <tr>   
        <td colspan="1"><h5>Modules</h5></td>
      </tr>
    </thead>    
  </table>
</div>