<% if @document["format"] == "Book" || @document["format"] == "Journal" ||
      @document["format"] == "E-Journal" || @document["format"] == "E-Book" %>  
  <div class="container-gutter links">
    <h3>Links</h3> 
    <ul>
      <li><%= display_link_to_york_resource(@document) %></li>
    </ul>
  </div>
<% end %>
