<div id="reading-list-nav" class="sidebar-nav well">
  <div id="sidebar-title">
    <h4>Reading lists</h4>
  </div>
  <table class="table availability-table reading-list-table">
	  <thead>
      <tr>   
        <td colspan="1"><h5>Modules</h5></td>
      </tr>
    </thead>    
  </table>
</div>