<div id="availability-nav" class="sidebar-nav well">
  <div id="sidebar-title">
    <h4>Availability</h4>
  </div>
  <%= render_holdings_html_partial %>
  <%= render_online_resources_partial(@document) %>
</div>
