<div class="row">
  <div id="content" class="span9 show-document">
  
  <%= render 'previous_next_doc' %>
     
  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) %>
  <% extra_head_content << render_link_rel_alternates %>
  <% sidebar_items << render_document_sidebar_partial %>

    <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
      <!-- 
           // COinS, for Zotero among others. 
           // This document_partial_name(@document) business is not quite right,
           // but has been there for a while. 
      -->
      <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
    <% end %>

  </div>
  <% # Removed sidebar render_document_sidebar_partial from here %>
</div>

<%= render :partial=>'show_elements_desktop' %>
<%= render :partial=>'show_elements_moblet' %>