$home_background_image: '/bg1.jpg' !default;
$navbarBackgroundHighlight: #000 !default;
$navbarBackground: #000 !default;
$blacklight-green-colour: #51A351 !default;

body {
  background-color:#161616;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

/* Mobile device enhancement classes */
.mobile-view {
  font-size: 105%;
}
.phone-margins 
{
  padding-left: 1em;
  padding-right: 1em;
}

#background-container {
  background-color:white;
}

#main-container {
  padding:0;
}

.nav-list > .active > a, .nav-list > .active > a:hover  {
  background-color: $blacklight-green-colour;
}


.brand-logo {
    background: url("/assets/blah/uni-logo-white.png") no-repeat scroll left top transparent;
    height: 35px;
    margin: 0;
    min-height: 35px;
    min-width: 202px;
    width: 202px;
}


.navbar {
    font-family: inherit;

    .brand {
      color: #FFF;
    }    
}

.navbar-inner {
  background-color: #000;
  background-image: -moz-linear-gradient(center top ,$navbarBackgroundHighlight, $navbarBackground);
  background-image: -webkit-gradient(linear, center top, center bottom, from($navbarBackgroundHighlight), to($navbarBackground));
  filter :progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000001', GradientType=0);
}


.navbar .btn-navbar {
    background-color: #0E0E0E;
    background-image: -moz-linear-gradient(center top , #151515, #040404);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#151515), to(#040404));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-navbar:hover {
 background-color:#040404 !important;
}

.navbar .nav > li > a {
    color: #999999;
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #FFF;
    text-decoration: none;
}

#selected-items #folder {
  color: #999999;

  /* ie7 fix for the selected items counter field */
  *float: none;
}


.document {
  margin: 0 0 3em 0;
	padding: 1em 1em 1em 1em;
	border: none;
}

div#document-phone.document {
    background-color: #EFEFEF;
}


#main-search select {
  /* IE7 fix for main-search dropdown */  
  *margin-right:4px; 
}



/* Home page */

#home-background-container {
    background-image: url($home_background_image);
    width: 100%;
}

#header-navbar-fixed-top { 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);   
}


/* Home page - tiles */

/* Flash messages for the homepage */
#homepage-flash.visible-desktop {
  margin-top:5em;
}
#homepage-flash.visible-phone {
  border-radius: 0 0 0 0;
  margin-bottom:0;
}


#search-tile {
    border-radius: 0 0 0 0;
    margin: 0 0.5em 0.5em;

    h2 {  
      margin: 0.5em 0 0.75em;
    }

    select {     
      width: 120px;
    }
   
    a {
      color: #FFF !important;
    }    
}


/* Reduces the padding for tablets */
#search-tile-tablet {

  border-radius: 0 0 0 0;
   margin: 0 0.5em 0.5em;

  h2 {  
    margin: 0.5em 0 0.75em;
  }

  select {     
    width: 120px;
  }
   
  a {
    color: #FFF !important;
  }  
  padding: 30px 40px 30px 40px;
}


#search-tile-phone {
    background-color: rgba(81, 163, 81, 1);
    border-radius: 0 0 0 0;
    margin: 0 0 0.5em;
    padding: 2em 0.5em 3em 1.25em;   
}

.search-tile {
  h2 {
    font-size: 24px !important;
    line-height: 36px !important;
    color:#FFFFFF !important;
  }
  p {
    color: #FFFFFF !important;  
    font-size: 15px !important;
    line-height: 18px !important;
  }
}

.generic-tile {
  margin: 0.5em;
  padding: 1em;

  h2 {
      font-size: 24px;
      color: #000;
      margin: 0.5em 0 0.75em;
  }


}
.generic-tile-phone {
    margin: 0 0 0 !important;
}
	
/* Tile colours */  
.tile-green {
  background-color: #51A351;
  background-color: rgba(81, 163, 81, 0.98);
  
  /* Extra background-color required here for IE7 */ 
  *background-color: #51A351;
}

.tile-white {
  background-color: #FFFFFF;    
  background-color: rgba(255, 255, 255, 0.93);

  /* Extra background-color required here for IE7 */ 
  *background-color: #FFFFFF; 
}

.tile-twitter-blue {
  background-color: #5BC0DE;   
  background-color: rgba(91, 192, 222, 0.98);
  
  /* Extra background-color required here for IE7 */ 
  *background-color: #5BC0DE;   
}

.tile-grey {
  background-color: #EBEBEB;  
  background-color: rgba(235, 235, 235, 1) !important;

  /* Extra background-color required here for IE7 */ 
  *background-color: #EBEBEB;   
}

#footer-title-top a {
    color: #FFFFFF;
    padding: 0 40px;
}
#search-tile, #social-tile h2 {
    color: #FFFFFF;
}
#main-search.search p a {
    color: #FFFFFF;
}

#announcement-tile-phone {
  background-color: rgba(255, 255, 255, 1);
}

#links-tile-phone {
  background-color: rgba(255, 255, 255, 1);
}

#social-tile-phone {
  h2 {
    color: #FFFFFF;
  }
  background-color: rgba(91, 192, 222, 1);
  margin-bottom: 0;
}

#social-tile {
  h2 {
    color: #FFFFFF;
  }
  margin-bottom: 0;
}

/* Adds a shadow to tiles.. */
.tile-shadow 
{
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
}

.blacklight-green-color {
  color:$blacklight-green-colour;
}

/* FAQ customisations */
.faq-header {
  margin:0;
  padding:0;

  h2 {
    color:$blacklight-green-colour;
  }
}





/* Search results */

#documents {
  min-height: 425px;
}

/* Adds a bit more space to the top of label */
.label {
  padding: 3px 4px 2px;
}

.label-success {
  .icon-info-sign {
    /* Fix for IE7 for View Record label */
    *margin-right: 0;
  }
}


dl.defList {
    dd {
      float: left;
      width: 75%;
    }
}

/* This sorts out the Title for each item on search results */
h3.index_title {
  line-height: 20px;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}


footer {

  a:link, a:visited, a:active {
      color: #C9C9C9;
      text-decoration: none;
  }
  
  h4 {
    font-size: 14px;
  }

  #footer-column {
    a {
      color: #999999;
    }

    a:hover {
        background-color: transparent;
        color: #FFF;
        text-decoration: none;
    }
  }

}

div#feedback {
    a {
			color:#FFF;
		}
    bottom: -2px;
    float: right;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

/*
#footer-column a:hover {
    background-color: transparent;
    color: #FFF;
    text-decoration: none;
}
*/

#footer-container {
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    color: #666666;
    box-shadow: 0 1px 3px rgba(255, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0) inset;
    padding: 0 40px;
    max-height: 166px;
    
    background: #2a2a2a; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhMmEyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYTJhMmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTYxNjE2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(center top , #2A2A2A 0%, #161616 100%) repeat scroll 0 0 transparent !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(100%,#161616)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(center top,  #2a2a2a 0%, #161616 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2a2a2a 0%, #161616 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2a2a2a 0%, #161616 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #2a2a2a 0%, #161616 100%)!important ; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#161616',GradientType=0 ) !important; /* IE6-8 */
}


#footer-container-top {
    padding-top: 0.75em;
}

#desktop-search-bar.navbar-inner {
    box-shadow: none;
}

#desktop-search-bar {
    background-image:none;
    background-color:#FFF;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-color: rgba(255, 255, 255, 0.9) !important;
    opacity: 0.95 !important;
    /* Fixes search bar issues with IE8 or less */
    filter: alpha(opacity=95);
    *background-color:#FFF;
    /* Add the border that is missing from ie versions */
    border-bottom:1px solid #E0E0E0\9;
}
#moblet-search-bar {
    background-color: rgba(255, 255, 255, 0.9) !important;
    padding: 1em 0 0.5em 0.5em;
    margin: 0;
}

#top-spacer {
    height: 9em;   
}


/* Search results */


.documentFunctions {
    float: none;
    margin-bottom: 0.5em;
    margin-left: 0em;

    /* IE 7 fix - Select checkbox alignment */
    *margin-left: 1em;
}

/* IE 7 fix - Alignment of the Sort by and Show dropdowns */
#per_page { 
  *margin-bottom: 0 !important;
}
#sort { 
  *margin-bottom: 0 !important;
}

.table-container {
    padding: 0 1em 0.5em;
}

.pagination-top {
  padding-bottom: 2em;
  margin: 0;
}


#icon-holding-available {
  background-color: #468847;
  border: 2px solid #468847;
  border-radius: 5px 5px 5px 5px;
}

#icon-holding-unavailable {
  background-color: #F89406;
  border: 2px solid #F89406;
  border-radius: 5px 5px 5px 5px;
}

#icon-holding-more {
  background-color: #317EAC;
  border: 2px solid #317EAC;
  border-radius: 5px 5px 5px 5px;
}


/* Record show */

#document h1 {
    line-height: 25px;
    padding: 0;
}

#document-header {
  padding: 0 0 1.5em;

  h2 {
    margin: 0;
  }

  a.author-heading-link {
    color: #2E4F81;
    border-bottom: 1px dotted;
    font-weight:lighter; 
  }
}

a.subject-link {
  color: #2E4F81;
  border-bottom: 1px dotted;
}

#cover-art {

  height:125px; 
  max-width:125px;

  background: -moz-linear-gradient(top, rgba(198,198,198,0.65) 10%, rgba(204,204,204,0.65) 20%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(198,198,198,0.65)), color-stop(20%,rgba(204,204,204,0.65)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(198,198,198,0.65) 10%,rgba(204,204,204,0.65) 20%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(198,198,198,0.65) 10%,rgba(204,204,204,0.65) 20%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(198,198,198,0.65) 10%,rgba(204,204,204,0.65) 20%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(198,198,198,0.65) 10%,rgba(204,204,204,0.65) 20%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c6c6c6', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */  
}

/* Avoids overlapping of the book image on mobiles */	
#document-phone #cover-art {
    height: 175px; /* or the largest possible height of a cover */
}


#sidebar-title {
    background-color: transparent;
    margin-bottom: 1em;
    padding: 1em;
}


.availability-table {
    background-color: #E3E3E3;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0 0 0 0;
    margin: 0 0 1em;  

  thead {
    background-color: #E3E3E3;
  }

  tbody tr {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
  }
  
  /* IE7 fix for the availability label */
  i {
    *margin-right:0;
  }
}

#tools-nav {
  .btn {
    *background-color:transparent;
  }
}

form.form-inline {
  margin: 0;
}


#advanced_search_facets {

	label {
		display: inline;
	}

}
