.brand-logo {
    height: 40px;
    margin: 0;
    min-height: 40px;
    min-width: 166px;
    width: 166px;
}

.navbar .brand {
    color: #FFF;
}


.navbar-inner {
    background-color: #000;
    background-image: none;
}

.navbar .nav > li > a {
    color: #999999;
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #FFF;
    text-decoration: none;
}
#selected-items #folder {
  color: #999999;
}


.document {
	padding: 1em 1em 1.5em 1em;
	border: none;
}



footer {
  
  h4 {
    font-size: 14px;
  }

  #footer-column {
    a {
      color: #999999;
    }
    a:hover {
        background-color: transparent;
        color: #FFF;
        text-decoration: none;
    }
  }

}

div#feedback {
    a {
					color:#FFF;
				}
    bottom: -2px;
    float: right;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

/*
#footer-column a:hover {
    background-color: transparent;
    color: #FFF;
    text-decoration: none;
}
*/


#footer-container {
    background-color: #222222;
    background-image: -moz-linear-gradient(center top , #2A2A2A, #161616);
    box-shadow: 0 1px 3px rgba(255, 0, 0, 0), 0 -1px 0 transparent inset;
    color: #666666;
    padding: 0 40px;
}

#desktop-search-bar.navbar-inner {
    box-shadow: none;
}

#desktop-search-bar {
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 1 !important;
}

#top-spacer {
    height: 9em;
}



/* Search results */
.documentFunctions {
    float: none;
    margin-bottom: 0.5em;
    margin-left: 0em;
}

.table-container {
    padding: 0 1em 0.5em;
}

/* Record show */

#document h1 {
    padding: 0;
}

#document-header {
    padding: 0 0 1.5em;
}


#sidebar-title {
    background-color: transparent;
    margin-bottom: 1em;
    padding: 1em;
}


.availability-table {
    background-color: #E3E3E3;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0 0 0 0;
    margin: 0 0 1em;
    max-width: 300px;

  thead {
    background-color: #E3E3E3;
  }

  tbody tr {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
  }

}
