/* site */
$primarycolor: #51A351;
$primarycolordark: #1a6a1a;
$altcolor: #3d7a7a;
$altcolorlight: #75bdbd;
$neutralcolordark: #333;
$neutralcolorlight: #ccc;
$primarylinkcolor: $primarycolor;
$primarylinkhovercolor: $neutralcolordark;
$formMaxWidth: 1200px;

/* tiles */
$greenishblue: #4e9799;
$cleanwhite: #fff;
$lightgrey: #ebebeb;
$lightgreen: #EDFFC4;
$lightblue: #75bdbd;
$lightlink: #fff;
$darklink: #000;
$tiletransparency: 1;
$tilerowgutter: 0;

/* highlighters */
$selectedtextcolor: #842121;
$alertcolor: #4E9799;
$errorcolor: #cc6565;
$successcolor: #51A351 ;
$noticecolor: #3d7a7a;
$infocolor: #9ebe5e;
$warningcolor: #F89406;

/* images */
$logo_image: 'blah/logo.gif';
$home_background_image: "blah/bjl-1c.jpg" !default;

/* global */

/* fonts - split out into seperate file? */

@font-face {
  font-family: 'open_sansbold';
  src: url('opensans-bold-webfont.eot');
  src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans-bold-webfont.woff') format('woff'),
       url('opensans-bold-webfont.ttf') format('truetype'),
       url('opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('opensans-light-webfont.eot');
  src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans-light-webfont.woff') format('woff'),
       url('opensans-light-webfont.ttf') format('truetype'),
       url('opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('opensans-regular-webfont.eot');
  src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans-regular-webfont.woff') format('woff'),
       url('opensans-regular-webfont.ttf') format('truetype'),
       url('opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('opensans-semibold-webfont.eot');
  src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans-semibold-webfont.woff') format('woff'),
       url('opensans-semibold-webfont.ttf') format('truetype'),
       url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  /*font-family: 'Open Sans', sans-serif !important;*/
  font-family: 'open_sansregular', sans-serif !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
  line-height: 1.65em
}

h1 {
  font-family: 'open_sanssemibold', sans-serif !important;
  font-size: 42px !important;
  font-weight: normal;
/*  font-weight: 600;*/
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

h2 
{
  font-size: 32px !important;
  font-family: 'open_sansregular', sans-serif !important;
  /*font-size: 42px !important;*/
  font-weight: 400;
  color: #333;
  margin-bottom: 0.75em;
}

h3 
{
  font-family: 'open_sanslight', sans-serif !important;
  font-weight: 100;
  font-size: 24px !important;
  line-height: normal !important;
  color: #666;
}

h4 
{
  font-family: 'open_sansbold', sans-serif !important;
  font-weight: normal;
  font-size: 16px;
}

h5 {
  font-family: 'open_sansregular', sans-serif !important;
  font-weight: normal;
}

a {
    /*color: #cb812a; */
    color: $primarylinkcolor;
    text-decoration: none;
    &:hover { color: $primarylinkhovercolor; }
}

::selection {
  background: $primarycolor;
  color: #fff
}
::-moz-selection {
  background: $primarycolor;
  color: #fff;
}

.vertical-divider {
    border-right: 1px dotted #CCCCCC;
    margin: 0 0.75em 0 0.55em
}

/* layout */

.page-wrapper {
  position: relative;
  z-index: 1
}

.row-spacer 
{
    margin: 1.5em 0;
}

.text-block {
  margin: 1em 0 3em;
  li { list-style: circle;}
}

#background-container {
  background-image: url($home_background_image);
  background-repeat: repeat-x;
  background-color: #F6F6F6;
  width: 100%;
  box-shadow: 0 10px 10px -2px #090909;
}

#background-container-form
{
  background: #fff;
  width: 100%;
  box-shadow: 0 10px 10px -2px #090909;
  min-height: 814px;
  padding-bottom: 24px;
  position: relative;
}

#form-container{
  margin: auto;
  max-width: $formMaxWidth;
  min-height: 1050px;
}

.remove-margin-top {
  margin-top: 0;
}

.outer-spacer-bottom {
  margin-bottom: 1.4em;  
}

/* navbar fixes */

.navbar-fixed-top, .navbar-fixed-bottom {
  margin-bottom: 0px !important;
}

.navbar-fixed-bottom .navbar-inner 
{
  border-width: 0;
}

.navbar .nav {
  margin: 3px 10px 0 0;
}

.square-corners 
{
  border-radius: 2px !important;
}

/* site nav */
.navbar .brand {
	background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: inline-block;
  margin-left: 10px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: 0;
  white-space: nowrap;
  width: 165px;
}

.brand-logo {
  height:40px;
  img {  margin: 7px 15px 2px 0; }
}

.brand-logo-phone {
  margin: 0 15px 0 0;
  img { height: 27px; }
}

.navbar-fixed-bottom {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.navbar-fixed-top {
  margin: 0;
  /*opacity: 0.96;*/
  filter:alpha(opacity=92); /* For IE8 and earlier */
   -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
}

#navbar-fixed-results-top {
  margin: 0;
  opacity: 1;
   -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* subnav */

.subnav {
    transition: all 0.35s ease-in-out 0s;
    top: 43px;
    z-index: 1020;
}

.subnav-position {
	text-align: left;
  margin: 0.5em 0 0.5em 0.5em;
}

/* footer */

/* mobile footer adjustment */
@media (max-width: 480px), (max-width: 767px) { 
  footer #footer{
    position: relative !important;
    } 
}

footer {
  position: absolute;
  width: 100%;
  z-index: -20;
  height: 272px;
  #footer {
    background: #1f1f1f;
    position: fixed;
  }
  #footer-container {
    color: #999;
    /*background-color: #0d0d0d;*/
    background-color: #1f1f1f;
    padding-top: 2em;
  }
  #footer-title {
    padding-bottom:10px;
  }
  #footer-row {
    color: #999;
    margin: 0.5em 0 0;
    text-shadow: 1px 1px #1A1A1A
  }
  #footer-container-top {
    max-height: 30px;
    min-height: 5px;
  }
  #footer-container-bottom {
    background: #000;
    max-height: 30px;
    min-height: 5px;
  }
}

.navbar-fixed-bottom .navbar-inner {
  padding: 1em 0.5em 1em 1em;
}

.footer-column {
	ul {
	  list-style: none inside;
	  margin-left: 0.5em;
	  padding: 0 0 0.5em;
 	  border-right: 1px dotted #2E2E2E;
 	  height: 128px;
 	  margin-bottom: 1em;
	  li 
		{
		    font-size: 85%;
		    padding-left: 1em;
        padding-right: 1em;
		    h4 { margin: 0; padding-bottom: 0.5em;}
		}
	  li:nth-child(5) {  
		  color: red;
		}
	}
	a {
	  color: #999;
	  line-height: 1.6em;
	  &:hover { color: #efefef };
	}
}

.footer-horizontal {
	border-top: 1px dotted #2E2E2E;
    margin-top: 0.75em;
    padding-top: 1.6em;
}

ul.footer-sub-list {
  list-style: circle inside none;
  border: 0;
}

/* layout */

.page-gutter {
  padding-left: 1em;
  padding-right: 1em;
}

.container-gutter {
  padding-left: 1em !important;
}

.desktop-top-spacer {
  padding-top: 120px;
}

.tablet-top-spacer {
  padding-top: 20px;
}

.form-sub-search {
    margin: 12px 0px;
    z-index: 100;
}



/* tiles */

@function tile-transparency($tile-color) {
	@return rgba($tile-color, $tiletransparency)
}

@function tile-text-color($tile-color) {
  @return if( lightness( $tile-color ) > 50, #333, #fff );
}

@function tile-link-color($tile-color) {
  @return if( lightness( $tile-color ) > 50, $darklink, $lightlink );
}

.tile {
  padding: 0.75em 1.5em 1.5em;
  margin-bottom: $tilerowgutter;
  min-height: 281px;
}

.hero-tile {
  padding: 20px 30px 20px;
  border-radius: 0 0 0 0;
  margin-bottom: $tilerowgutter;
  p { padding: 1em 0; }
}

.tile-shadow 
{
/*
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.15);
*/
  -webkit-box-shadow: 0px 0 10px -10px rgba(50, 50, 50, 0.15), -10px 0 10px -10px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 10px 0 10px -10px rgba(50, 50, 50, 0.15), -10px 0 10px -10px rgba(50, 50, 50, 0.15);
  box-shadow: 10px 0 10px -10px rgba(50, 50, 50, 0.15), -10px 0 10px -10px rgba(50, 50, 50, 0.15);
}

.tile-shadow-right {
  -webkit-box-shadow: 0px 0 10px -10px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 10px 0 10px -10px rgba(50, 50, 50, 0.15);
  box-shadow: 10px 0 10px -10px rgba(50, 50, 50, 0.15);
}

.tile-shadow-left {
-webkit-box-shadow: -10px 0 10px -10px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: -10px 0 10px -10px rgba(50, 50, 50, 0.15);
  box-shadow: -10px 0 10px -10px rgba(50, 50, 50, 0.15);
}

.tile-shadow-high
{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.64);
}

.tile-white {
  background-color: #fff;
	background-color: tile-transparency($cleanwhite);
	color: tile-text-color($cleanwhite);
}

.tile-green-blue {
	background-color: tile-transparency($greenishblue);
	color: tile-text-color($greenishblue);
	a { 
		color: $lightlink;
		&:hover { color: darken($lightlink, 15%);}
	}
}

.tile-light-grey {
  background-color: #ebebeb;
	background-color: tile-transparency($lightgrey);
	color: tile-text-color($lightgrey);
	a { 
		color: $darklink;
		&:hover { color: lighten($darklink, 15%);}
	}
}

.tile-light-blue {
	background-color: tile-transparency($lightblue);
	color: tile-text-colour($lightblue);
	a { 
		color: $darklink;
		&:hover { color: lighten($darklink, 15%);}
	}
}

.tile-light-green {
  background-color: #EDFFC4;
  background-color: tile-transparency($lightgreen);
  color: tile-text-colour($lightgreen);
  a { 
    color: $darklink;
    &:hover { color: lighten($darklink, 15%);}
  }
}

.tile-green {
  color: #fff;
  background-color: #51A351;
  background-color: rgba(81, 163, 81, 0.98);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3M2M1NzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTFhMzUxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 255, color-stop(0%, rgba(115, 197, 115, 0.98)), color-stop(100%, rgba(81, 163, 81, 0.98)));
  background-image: -webkit-radial-gradient(left top, farthest-corner, rgba(115, 197, 115, 0.98) 0%, rgba(81, 163, 81, 0.98) 100%);
  background-image: -moz-radial-gradient(left top, farthest-corner, rgba(115, 197, 115, 0.98) 0%, rgba(81, 163, 81, 0.98) 100%);
  background-image: -ms-radial-gradient(left top, farthest-corner, rgba(115, 197, 115, 0.98) 0%, rgba(81, 163, 81, 0.98) 100%);
  background-image: -o-radial-gradient(left top, farthest-corner, rgba(115, 197, 115, 0.98) 0%, rgba(81, 163, 81, 0.98) 100%);
  background-image: radial-gradient(farthest-corner at left top, rgba(115, 197, 115, 0.98) 0%, rgba(81, 163, 81, 0.98) 100%);
  a { 
      color: $lightlink;
      &:hover { color: darken($lightlink, 15%);}
    }
}

.tile-orange {
  color: #fff;
  background-color: #cb812a;
  background-color: rgba(203, 129, 42, 0.98);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDIwMywgMTI5LCA0MiwgMC45OCkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9InJnYmEoMTQxLCA4OSwgMjksIDAuOTgpIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InJnYmEoMTQxLCA4OSwgMjksIDAuOTgpIiAvPjxyZWN0IHg9Ii0xNDEuNDIxNCUiIHk9Ii0xNDEuNDIxNCUiIHdpZHRoPSIyODIuODQyNyUiIGhlaWdodD0iMjgyLjg0MjclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 255, color-stop(0%, rgba(203, 129, 42, 0.98)), color-stop(100%, rgba(141, 89, 29, 0.98)));
  background-image: -webkit-radial-gradient(left top, farthest-corner, rgba(203, 129, 42, 0.98) 0%, rgba(141, 89, 29, 0.98) 100%);
  background-image: -moz-radial-gradient(left top, farthest-corner, rgba(203, 129, 42, 0.98) 0%, rgba(141, 89, 29, 0.98) 100%);
  background-image: -ms-radial-gradient(left top, farthest-corner, rgba(203, 129, 42, 0.98) 0%, rgba(141, 89, 29, 0.98) 100%);
  background-image: -o-radial-gradient(left top, farthest-corner, rgba(203, 129, 42, 0.98) 0%, rgba(141, 89, 29, 0.98) 100%);
  background-image: radial-gradient(farthest-corner at left top, rgba(203, 129, 42, 0.98) 0%, rgba(141, 89, 29, 0.98) 100%);
}

.tile-cream {
	background-color: #FBEED5;
	background-color: rgba(255, 251, 245, 0.98);
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjUxLCAyNDUsIDAuOTgpIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSJyZ2JhKDI1MSwgMjM4LCAyMTMsIDAuOTgpIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InJnYmEoMjUxLCAyMzgsIDIxMywgMC45OCkiIC8+PHJlY3QgeD0iLTE0MS40MjE0JSIgeT0iLTE0MS40MjE0JSIgd2lkdGg9IjI4Mi44NDI3JSIgaGVpZ2h0PSIyODIuODQyNyUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
	background-image: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 255, color-stop(0%, rgba(255, 251, 245, 0.98)), color-stop(100%, rgba(251, 238, 213, 0.98)));
	background-image: -webkit-radial-gradient(left top, farthest-corner, rgba(255, 251, 245, 0.98) 0%, rgba(251, 238, 213, 0.98) 100%);
	background-image: -moz-radial-gradient(left top, farthest-corner, rgba(255, 251, 245, 0.98) 0%, rgba(251, 238, 213, 0.98) 100%);
	background-image: -ms-radial-gradient(left top, farthest-corner, rgba(255, 251, 245, 0.98) 0%, rgba(251, 238, 213, 0.98) 100%);
	background-image: -o-radial-gradient(left top, farthest-corner, rgba(255, 251, 245, 0.98) 0%, rgba(251, 238, 213, 0.98) 100%);
	background-image: radial-gradient(farthest-corner at left top, rgba(255, 251, 245, 0.98) 0%, rgba(251, 238, 213, 0.98) 100%);
}

/* search tools */

.appliedFilter {
  background: none repeat scroll 0 0 $altcolorlight;
    border: 1px solid darken($altcolorlight, 10%);
    color: #FFFFFF;
    margin: 0 0.5em 0.5em;
    .btnRemove {
      background: url("/assets/blacklight/remove.png") no-repeat scroll 5px 5px transparent;
      border-left: 1px solid darken($altcolorlight, 10%);  
  }
  .filterName {
    background: url("/assets/blacklight/separator.png") no-repeat scroll right center transparent;
    padding-right: 1.75em;
  }
}

.catalog_startOverLink {
    float: none;
    padding-top: 0.3em;
}

/*.sidenav {
    background-color: #fff;
    border: 0 none;
    box-shadow: none;
    .facet_limit:last-child > h5 {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
}*/

.well, .constraints-container {
    border: 1px solid $neutralcolorlight;
    border-radius: 0;
    padding: 1em 1em 0.5em 1em;
}

#sortAndPerPage {
    border: 0 !important;
    border-radius: 0;
    box-shadow: none !important;
    margin-bottom: 0;
    padding: 0;
    background-color: transparent !important;
}

/* facets */

.sidenav {
    background-color: #fff;
    border: 0 none;
    box-shadow: none;
    .facet_limit:last-child > h5 {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
}

.sidenav-alt {
  background-color: #efefef;
  border: 0 none;
  border-radius: 0;
  transition: all 0.2s ease-in-out 0s;
  text-shadow:0px 1px 0px #efefef;
  &:hover { background: #d9d9d9;}
  label.checkbox {
    font-size: 96%;
  }
}

.well, .constraints-container {
    border: 1px solid $neutralcolorlight;
    border-radius: 0;
}

#facets {
  li { 
    margin-right: 0;
    padding: 0.5em 1em;
    background: transparent;
    color: #333;
    font-size: 90%;
    a {
      color: #333;
      text-shadow:0px 1px 0px #efefef;
      &:hover { background: transparent;} 
   }
   .count {
    float: right;
    margin-right: 0;
    text-shadow:0px 1px 0px #fff;
    }
  }
  li:hover {
    transition: all 0.2s ease-in-out 0s;
    background-color: lighten($neutralcolorlight, 5%);
  }
  ul {
    padding-top: 0em;
    margin-left: 0;
    margin-bottom: 0;
  }
  span.selected {
    color: $selectedtextcolor;
    text-shadow:0px 1px 0px #efefef;
  }
  h3 {
    padding-left: 0.5em;
  }
  h5 {
    color: #666;
  }
}

.facet_limit ul {
  background-color: #efefef;
}

.facets-collapse .facet_limit h5:hover {
  transition: all 0.2s ease-in-out 0s;
  background-color: lighten($neutralcolorlight, 5%);
  text-shadow:0px 1px 0px #efefef;
}

#facets ul, #facets h5 + div {
    padding-bottom: 0;
}


#sidebar .well, #sidebar .constraints-container, #sidebar {
    padding: 0;
}

.well, .constraints-container {
    border: 0;
}

.constraints-container {
    background-color: whitesmoke;
    border: 0;
}

#facets div.facet_limit {
    clear: both;
    margin-bottom: 1em;
    background: none repeat scroll 0 0 #efefef;
}

.sidenav h5 {
  border: none;
}

.label {
    font-size: 92%;
    padding: 6px 10px !important;
   /* margin-top: 8px;*/
    vertical-align: baseline;
}

/* sort and per page */

#sortAndPerPage {
box-shadow: none;
padding: 0;
  }

.css-dropdown {
  margin: 0.65em 0 0 0;
  li {
    padding: 2px 4px;
  }
}

/* flash message */
.flash-message-container {
  padding: 2em 1.75em 2em 1em;
  background: $alertcolor;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 0;
  h3 {
   color: #fff;
   margin-top: 0;
  }
  p {
    font-size: 0.96em;
  }
  button.close{
    right: 0;
    color: #fff;
    opacity: 1;
  }
  /*.alert-error { background: $errorcolor; }*/
/*  .alert-info { background: $infocolor; }
  .alert-notice { background: $noticecolor; }
  .alert-success { background: $successcolor; }*/
}

.flash-message-container.alert-info {
  background: $infocolor;
}
 
.flash-message-container.alert-error {
  background: $errorcolor;
}

.flash-message-container.alert-notice {
   background: $noticecolor;
}

.flash-message-container.alert-success {
   background: $successcolor;
}

.flash-message-container.alert-warning {
   background: $warningcolor;
}


/*.flash-message-container h3 {
   color: #fff;
   margin-top: 0;
}*/

/*.flash-message-container p {
  font-size: 0.96em;
}*/

/*.flash-message-container.alert button.close{
  right: 0;
  color: #fff;
  opacity: 1;
}*/

.desktop-top-margin {
  margin-top: 44px;
}

/* document */

#document {
  margin-top: 0em;
  #previousNextDocument {
    margin-bottom: 2em;
  }
  #previousNextDocument.well {
    background: transparent;
    box-shadow: none;
    padding: 0;
  }
  h1 {
    padding: inherit !important;
    line-height: 1em !important;
    margin-bottom: -10px;
  }
}

.document {
    margin: 0 !important;
    padding: 0em !important;
}

div#document-phone.document {
  background-color: #EFEFEF;
  margin-top: 1em !important;
  padding: 1em !important;
  #cover-art {
    clear: both !important;
    height: 210px !important;
  }
}

.holdings{
  .table-container {
    font-size: 90%;
    padding: 0;
  }
}

.holdings-label {
  width: 79%;
}

.page_links {
  padding-left: 0.75em;
}

#cover-art {
  height: 150px !important;
  max-width: 132px !important;
  margin-right: 1em;
  margin-top: 8px;
}

#google-preview {
  /*height: 150px;*/
  margin-top: 1.5em;
  /*min-height: 150px;*/
  position: relative;
  /*padding-left: 1.35em;*/
  text-align: center;
}

#document-phone {
  #cover-art {
    clear: both !important;
    height: calc(200px + 0.5em) !important;
  }
  h3 {
    padding-bottom: 0.15em !important;
  }
} 

#document-phone #holdings-record-element .defList {
dt {
  font-size: 16px;
  padding-bottom: 1em;
}
dd { font-size: 96%;}

  } 

/* datatables */

.dl-horizontal-left dd {
    margin-left: 110px;
}

.dl-horizontal-left dt {
    text-align: left;
    clear: left;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
}

.dl-vertical-left {
  dt {
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
  }
  dd {
      margin-left: 0;
      padding-bottom: 1em;
  }
} 

/* tables */

.table th, .table td {
    vertical-align: middle;
}

/* nav tools */

.nav {
  margin-bottom: 0;
}

.nav-tabs > li > a, .nav-pills > li > a {
    margin-right: -1px;
}

/* side menu */

ul.nav li.menu-item {
  clear: both;
  margin-bottom: 1em;
  background: none repeat scroll 0 0 #efefef;
  :hover {
    background-color: #d9d9d9;  
  }
  a { padding: 8px 14px; color: #666;}
}

/* holding */

#icon-holding-available {
  background-color: #468847 !important;
  border-radius: 2px 2px 2px 2px !important;
  border-style: solid !important;
  border-width: 2px 3px 3px !important;
}

#icon-holding-unavailable {
  background-color: #F89406 !important;
  border-radius: 2px 2px 2px 2px !important;
  border-style: solid !important;
  border-width: 2px 3px 3px !important;
}

/* Generic form controls */

.form-label {
  color: #888888;
  font-weight: normal;
}

/* resource tools */
#marc_view .field {
  border-bottom: 1px solid #EFEFEF;
  padding-left: 1em;
}

/* feedback */

#feedback { 
  /*height: 104px; */
  width: 104px !important; 
  /*position: fixed !important; */
  top: 30%;
  right: -36px;
  float: none !important;
  left: inherit !important;
  z-index: 999 !important;
  bottom: inherit !important;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  border: none;
  a { 
    display: block; 
    background: $altcolor; 
    height: 15px; 
    width: 70px; 
    padding: 8px 16px;
    color: #fff; 
    font-family: 'open_sansrbold', sans-serif; 
    font-size: 14px; 
    /*font-weight: bold; */
    text-decoration: none; 
    &:hover { 
      background: $altcolorlight; 
      transition: all 0.35s ease-in-out 0s;
    }
  }
}

/* alerts */

.alert-error { background: $errorcolor; }
.alert-info { background: $infocolor; }
.alert-notice { background: $noticecolor; }
.alert-success { background: $successcolor; }
.alert-warning { background: $warningcolor; }

/* fixes & overrides */
#search_field {
    min-width: 120px;
}

.form-search .input-prepend .search-query {
    margin-left: -1px;
}

.actions form {
	margin: 0;
	text-align: center;
}

#holdings-record-element dd {
  margin-left: 0;
}

.label {
    border-radius: 2px 2px 2px 2px !important;
}

.container-fluid-fix {
  min-width: 100%;
}

/* Twitter widget overrides */

.new-tweet {
  color: red !important;
}
