/* flash message */

.flash-message-container {
  padding: 2em 1.75em 2em 1em;
  background: $alertcolor;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 0;
  h3 {
   color: #fff;
   margin-top: 0;
  }
  p {
    font-size: 0.96em;
  }
  button.close{
    right: 0;
    color: #fff;
    opacity: 1;
  }
}

.flash-message-container.alert-info {
  background: $infocolor;
}
 
.flash-message-container.alert-error {
  background: $errorcolor;
}

.flash-message-container.alert-notice {
   background: $noticecolor;
}

.flash-message-container.alert-success {
   background: $successcolor;
}

.flash-message-container.alert-warning {
   background: $warningcolor;
}

/* alerts */

.alert-error { background: $errorcolor; }
.alert-info { background: $infocolor; }
.alert-notice { background: $noticecolor; }
.alert-success, .label-success { background: $successcolor; }
.alert-warning { background: $warningcolor; }


.label, .badge {
  line-height: 18px;
}
