/* sort and per page */

#sortAndPerPage {
  border: 0 !important;
  border-radius: 0;
  box-shadow: none !important;
  margin-bottom: 0;
  padding: 0;
  background-color: transparent !important;
}

.css-dropdown {
  margin: 0.65em 0 0 0;
  li {
    padding: 2px 4px;
  }
}