
<div class="flash_messages">
  <% [:success, :notice, :error, :alert].each do |type| %>
    <%- alert_class = type == :notice ? 'info' : type %>
    <% if flash[type] %>
   		<% if (current_page?(controller: 'home', action: 'show')) %>
  			<div class="desktop-top-margin visible-desktop"></div>
		<% end %>
      <div class="flash-message-container alert-<%=alert_class%>"><%= flash[type] %>
         <a class="close" data-dismiss="alert" href="#">x</a>
      </div>
    <% end %>
  <% end %>
</div>